.about-block {
  margin-bottom: 30px;

  .about-title {
    display: flex;
    justify-content: space-between;
    background-color: $color-1;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
  
    h3 {
      color: $white;
      font-size: 24px;
      font-weight: 500;
    }
  
    button {
      background-color: $color-1;
      border: none;

      .arrow {
        transition: transform 0.4s ease-in-out;
      }
      
      .open.arrow {
        transform: rotate(180deg);
      }
    }
  } 
  // .collapse-container {
  //   overflow: hidden;
  //   // &.openCollapse {
  //   //   transition: 0.5s ease-in-out;
  //   //   max-height: 500px;
  //   // }

  //   .collapse-content {
  //     visibility: hidden;
  //     opacity: 0;
  //     transform: translateY(-100%);
  //     transition:  visibility 0.5s, opacity 0.5s linear, transform 0.5s ease;
  //     &.openContain {
  //       visibility: visible;
  //       opacity: 1;
  //       transform: translateY(0);
  //       transition:  visibility 0.5s, opacity 0.5s linear, transform 0,5s ease;
  //     }
  //   }
  // }


  .collapse-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.9s ease-in;
  }
  .openCollapse {
    max-height: 500px;
    transition: max-height 0.9s ease-in;
  }
}