.about-block {
  margin-bottom: 30px;

  @media screen and (max-width: 450px) {
    margin-bottom: 20px;;
  }

  .about-title {
    display: flex;
    justify-content: space-between;
    background-color: $color-1;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;

    @media screen and (max-width: 450px) {
      padding: 0;
    }
  
    h3 {
      color: $white;
      font-size: 24px;
      font-weight: 500;

      @media screen and (max-width: 450px) {
        font-size: 13px;
        margin: auto 10px;
      }
    }
  
    button {
      background-color: $color-1;
      border: none;
      border-radius: 5px;

      .arrow {
        transition: transform 0.4s ease-in-out;
      }
      
      .open.arrow {
        transform: rotate(180deg);
      }
    }
  } 

  .collapse-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.9s ease;
  }
  .openCollapse {
    max-height: 500px;
    transition: max-height 0.9s ease-in-out;
  }
}