.footer {
  width: 100%;
  min-height: 209px;
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  p {
    color: $white;
  }
}