.navigation {
  ul {
    display: flex;
    justify-content: end;
    gap: 57px;

    a {
      text-decoration: none;

      li {
        color: $color-1;
        cursor: default;
        transition: 0.2s;
        font-size: 24px;
        font-weight: 500;

        &:hover {
          color: $color-1;
        }
      }
    }

    .nav-active {
      text-decoration: underline;
      color: $color-1;
      }
    }
  }

  
